{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'posts/posts.css' %}">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" size="5"
            onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
            style="width: 100% ; margin: 0 auto">
        <option style="text-align: center; color: orangered" disabled>Выберите автора:</option>
        <option style="text-align: center" value="{% url 'subscriptions_posts' %}">Все посты</option>
        {% for author in authors %}
            <option style="text-align: center" value="{% url 'subscriptions_user_posts' author.username %}">{{ author.username }}</option>
        {% endfor %}
    </select>
    {% if posts %}
        {% for post in posts %}
            {% include 'posts/post_templates/post_item.html' with post=post %}
        {% endfor %}

        <div class="paginator">
            {% if posts.has_previous %}
                <div>
                <a class="btn btn-outline-primary" href="?page=1">&laquo;</a>
                <a class="btn btn-outline-primary" href="?page={{ posts.previous_page_number }}">&lt;</a>
                </div>
            {% else %}
                <div>
                <a class="btn btn-outline-secondary disabled" href="">&laquo;</a>
                <a class="btn btn-outline-secondary disabled" href="">&lt;</a>
                </div>
            {% endif %}

            <span class="current">
                Страница {{ posts.number }} из {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <div>
                <a class="btn btn-outline-primary" href="?page={{ posts.next_page_number }}">&gt;</a>
                <a class="btn btn-outline-primary" href="?page={{ posts.paginator.num_pages }}">&raquo;</a>
                </div>
            {% else %}
                <div>
                <a class="btn btn-outline-secondary disabled" href="">&gt;</a>
                <a class="btn btn-outline-secondary disabled" href="">&raquo;</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        Пока никто из ваших подписок не выложил пост:(
    {% endif %}

{% endblock content %}