<div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">

        <div class="d-flex justify-content-between">
            <a href="{% url 'profile' post.author %}" style="text-decoration: none;">@{{ post.author }}</a>
            <span class="text-muted">
                {{ post.author.first_name }} {{ post.author.last_name }} {{ post.author.group }}
            </span>
        </div>

        <p class="card-text">
            {{ post.description|linebreaksbr }}
        </p>

        {% if post.only_for_group and post.author.group %}
            <strong class="d-block text-gray-dark">#{{ post.author.group }}</strong>
        {% endif %}

        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-outline-danger me-2" href="{% url 'like' post_pk=post.pk %}">
                    {{ post.likes.count }} &#10084;
                </a>
                {% block post_button %}
                    <a class="btn btn-outline-primary" href="{% url 'post_detail' pk=post.pk %}">Перейти к посту</a>
                {% endblock post_button %}
            </div>
            <small class="text-muted">{{ post.pub_date }}</small>
        </div>

    </div>
</div>
