.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-su {
    border: #FAB216 solid 1px;
    border-radius: 10px;
    column-gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.form-su-row {
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 20px;
    min-width: 200px;
}

.logged-out {
    color: green;
}