.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-su {
    border: #FAB216 solid 1px;
    border-radius: 10px;
    column-gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.form-su-row {
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 20px;
    min-width: 200px;
}

.logged-out {
    color: green;
}

.card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 370px
}

.upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.user {
    position: relative
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px
}

.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px
}

.stats span {
    font-size: 29px
}